In [3]:
%cd /home/luzinsan/Documents/Obsidian/ML/Innopolis/material/1 semester/Machine Learning/Project
!ls

/home/luzinsan/Documents/Obsidian/ML/Innopolis/material/1 semester/Machine Learning/Project
data-profiling.ipynb	   F24.ML.Assignment.One.data.db
F24.ML.Assignment.1-1.pdf  orders.ipynb

/home/luzinsan/.cache/pypoetry/virtualenvs/ydata-venv-utnj6P3i-py3.11/lib/python3.11/site-packages/IPython/core/magics/osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [4]:
import pandas as pd
from sqlalchemy import create_engine, text

session_engine = create_engine('sqlite:///F24.ML.Assignment.One.data.db')


with session_engine.connect() as conn: 
    orders = pd.read_sql_query(text('SELECT * FROM joined_table'), con=conn) 
    
orders

,store_id,order_id,profit,delivery_distance,date_create,order_start_prepare,planned_prep_time,order_ready,order_pickup,region_id,status_id
0,5014,20562761,45.504,2205,2024-09-05 15:25:25,2024-09-05 15:25:33,15.0,2024-09-05 15:32:00,05-09-2024 16:00:00,683,F
1,3856,20562753,30.336,1368,2024-09-05 15:25:12,2024-09-05 15:25:19,10.0,2024-09-05 15:35:50,05-09-2024 16:03:50,683,F
2,10825,20562723,43.608000000000004,459,2024-09-05 15:23:32,2024-09-05 15:23:44,20.0,2024-09-05 15:38:38,05-09-2024 16:06:38,683,F
3,5640,20562673,32.864,2611,2024-09-05 15:19,2024-09-05 15:19:05,20.0,2024-09-05 15:35:25,05-09-2024 16:03:25,709,F
4,7283,20562665,11.06,1041,2024-09-05 15:18:39,None,15.0,2024-09-05 15:35:33,05-09-2024 16:03:33,707,F
...,...,...,...,...,...,...,...,...,...,...,...
517605,9007,18671231,122.73440000000001,5411,2024-05-08 00:02:22,2024-05-08 00:02:37,25.0,2024-05-08 00:36:25,08-05-2024 01:04:25,707,F
517606,8929,18671229,40.29,5499,2024-05-08 00:02:59,2024-05-08 00:10:07,30.0,2024-05-08 00:22:04,08-05-2024 00:50:04,683,F
517607,8721,18671227,6.0040000000000004,4396,2024-05-08 00:01:38,2024-05-08 00:01:50,20.0,2024-05-08 00:49:19,08-05-2024 01:17:19,691,F
517608,5863,18671225,15.8,560,2024-05-08 00:01:46,2024-05-08 00:02:01,15.0,2024-05-08 00:10:29,08-05-2024 00:38:29,703,F
517609,3750,18671223,20.145,3934,2024-05-08 00:01:12,2024-05-08 00:01:21,35.0,2024-05-08 00:25:12,08-05-2024 00:53:12,683,F

In [5]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [6]:
from ydata_profiling import ProfileReport

report = ProfileReport(orders)
report.to_file('orders.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]